.svg_icons {
    transform: scale(2);
    display: flex;
    align-items: center;
  }

.custom-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center;
}
.text-4xl {
    font-size: 2.25rem;
}
.border-green-400 {
    --border-opacity: 1;
    border-color: #68d391;
    border-color: rgba(104, 211, 145, var(--border-opacity));
  }
  .bg-green-100 {
    --bg-opacity: 1;
    background-color: #f0fff4;
    background-color: rgba(240, 255, 244, var(--bg-opacity));
  }
  .bg-green-400 {
    --bg-opacity: 1;
    background-color: #68d391;
    background-color: rgba(104, 211, 145, var(--bg-opacity));
  }
  .border-gray-400 {
    --border-opacity: 1;
    border-color: #cbd5e0;
    border-color: rgba(203, 213, 224, var(--border-opacity));
  }
.messD{
    text-align: center;
  
  }
  .border-2 {
    border-width: 2px;
  }
.center {
    margin: auto;
    width: 30%;
    height: 50%;
    padding: 10px;
  }
.big-title {
    font-size: 300%;
}



.leaflet-container {
    width:40vw;
    height:70vh;
}
.custom-container {
    
    width:45vw;
}
.custom-container-80 {
    
    width:80vw;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.custom-file-uploadx2 {
  display:'none'
}
.messD{
  text-align: center;

}
.p-24 {
  padding: 6rem;
}
.border-2 {
  border-width: 2px;
}
.center2 {
  margin: auto;
  width: 35%;
  height: 50%;
  padding: 10px;
}

